.sideimg{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    width: 100%;
    position: relative;
    /* bottom: 10px; */
    margin: auto;
    height: 100%;
}
.sideimgss{
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .sideimg{
        width: 100%;
        display: grid;
        grid-template-columns: 1px 11fr 1px;
        position: relative;
        margin: auto;
    }
    .sideimgss{
        /* width: 80%; */
        display: none !important;
    }
}