.image-rotator {
    margin: auto;
    margin-top: 20px;
    width: 100%;
  }
  
  .image-rotator img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 10%;
  }
  
  .image-rotator img.active {
    opacity: 1;
  }
  
  @media only screen and (max-width: 768px) {
    .image-rotator img {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      width: 20%;
    }
    .image-rotator {
      margin: auto;
      margin-top: 10px;
      width: 100%;
    }
    
  }