.image-rotator {
    margin: auto;
    margin-top: 20px;
    width: 100%;
  }
  
  .image-rotator img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 10%;
  }
  
  .image-rotator img.active {
    opacity: 1;
    /* transform: 0.5s scale(1.2); */
  }
  